/*
	AUTHOR: 	Henrik Oddløkken

							T A B L E   OF   C O N T E N T S 
			
			
		
*/

/*---------------------------------------------------------------------------*/	
*{									/* Default */
	padding:			0px;
	margin:				0px;
	list-style:			none;
	text-decoration:	none;
	font-family: 		'Roboto', sans-serif;
}

/*---------------------------------------------------------------------------*/

@font-face 
{
    font-family: brandon;
    src: url(../resources/fonts/brandon/Brandon_reg.otf);
}

body
{
	width:	100%;
	background: #333;
	color: #fff;
}

header
{
	background: #2a2a2a;
}

h1
{
	font-size:		200%;
	font-family: 	brandon;
	font-weight:	normal;
	font-variant:	small-caps;
	line-height: 	32px;
	letter-spacing:	10px;
	padding:		2%;
	text-align: 	center;
}

h2
{
	padding-bottom: 1%;
	font-family: brandon;
	font-weight:	200;	 
}

#inputSection
{
	margin: 0 auto;
	text-align: center;
	padding-top: 10%;
}

#inputSection input, .inputBottom input
{
	width: 64px;
	text-align: center;
	font-size: 200%;
	padding: 5px 0px;
	margin:	10px;	
	border: none;
	border-bottom: 1px solid #ddd;
	color: #fff;
	background: none;
	outline: none;
}

#inputSection button, .inputBottom button
{
	background-color: #3e9c45;
	border: none;
	border-bottom: 2px solid #0e5c05;
	padding: 10px 40px;
	font-size: 125%;
	margin-top: 3%;
	color: #fff;
	cursor: pointer;
}

#inputSection button:hover
{
	background-color: #4eac55;
	border-top: 2px solid #4eac55;
	border-bottom: none;
}


/*---------------------------------------------------------------------------*/	

.inputBottom
{
	display: 	none;
	position: 	fixed;
	text-align: center;
	bottom:		0;
	height: 	10%;
	width:		100%;
	background:	#222;	
	z-index:	1;
}

	.inputBottom button 	{	margin-top: 10px; 	}
	

/*---------------------------------------------------------------------------*/	

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*---------------------------------------------------------------------------*/	

#colourSection
{
	display: none;
	margin: 0 auto;
	text-align: center;
	padding: 10% 0;
}

.sort
{
	display: inline-block;
	font-size: 125%;
	padding: 0 20px 20px 20px;
	color: #aaa;
}

.sortActive
{
	color: #fff;
	font-size: 150%;
}

.generatedColours  /* UL */
{
	width: 500px;
	margin: 0 auto;
}

.generatedColours li
{
	display: inline-block;
	padding: 20px;
}

	.generatedColours li .colourBox
	{
		display: inline-block;
		width: 64px;
		height: 64px;
		cursor: pointer;
		
		transition: all .8s;
	}
	
	.generatedColours li .colourBox:hover
	{
		border-radius: 50%;
		transition: all .4s;
		box-shadow: 0 2px 5px #222; 
	}
	
	.generatedColours li .labels
	{
		display: inline-block;
		margin-left: 5px;
		vertical-align: top;
		text-align: left;
	}

/*---------------------------------------------------------------------------*/	

canvas
{
	display: block;
	margin: 0 auto;
	margin-top: 5%;
	background: #fff;
}	

.feedback
{
	position: 	absolute;
	right:		5%;
	top:		5%;
	color:		#fff;
}
	
@media (max-width: 480px) 	/* SM: */
{
	.generatedColours  /* UL */
	{
		width: 98%;
		margin: 0 auto;
	}
}




	
	
	
	
	
	
	
